.Tweetshow {
  height: calc(100vh - 115px);
  // width: 100%;
  background-color: whitesmoke;
  // position: relative;
  padding-top: 50px;
  &__user{
    overflow: scroll;
    height: 600px;
    width: 700px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    &__main{
      display: flex;
      padding-top: 10px;
      &__name{
        padding-top: 8px;
        justify-content: space-between;
        display: flex;
        width: 100%;
      }
      &__Name {
        text-decoration: none;
        color: black;
      }
      &__edit{
        margin-right: 10px;
        text-decoration: none;
        color: black;
        font-size: 15px;
        border: 2px solid #ddd;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: lightgray;
      }
    }
    &__sub{
      margin-top: 65px;
    }
    &__form{
      font-size: 30px;
      font-weight: 900;
      padding-left: 10px;
    }
    &__body{
      padding: 20px 15px 0 15px;
      p {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  &__image{
    height: 40px;
    border-radius: 50%;
    margin: 0 11px 0 10px;
  }
}