@import "reset";
@import "modules/user";
@import "modules/flash";
@import "modules/usermain";
@import "modules/show";





.Header{
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100vw;
  background-image: url(backbone.jpg);
  font-weight: 900;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  letter-spacing: 1px;
  &__logo{
    font-size: 30px;
    padding: 14px;
    text-decoration: none;
    color: black;
  }
  .headersign{
    color: seashell;
    padding-right: 15px;
  }
  &__in{
    font-size: 16px;
    padding: 20px;
    .headersign {
      text-decoration: none;
      border: 3px solid white;
      padding: 10px;
      margin-right: 10px;
      color: black;
    }
  }
  &__out{
    font-size: 16px;
    padding: 20px;
    .headersign {
      text-decoration: none;
      border: 3px solid white;
      padding: 10px;
      margin-right: 10px;
      color: black;
    }
  }
}











/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
